.carouselSection{
    position: relative;
    margin-bottom: 70px;
    & > .contentWrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }
    .carouselTitle{
        font-size: 24px;
        color: white;
        font-weight: normal;
    }
}